.box {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 270px;
    gap: 10px;
    padding: 15px;
    margin-bottom:10px;
}

.firstBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondBox {
    font-size: 0.7rem;
    text-align: justify;
    font-weight: 500;
}

.FourthBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.FourthBox img:nth-child(2) {
    position: absolute;
    left: 15px;
}

.FourthBox img:nth-child(3) {
    position: absolute;
    left: 35px;
}

.FourthBox img:nth-child(4) {
    position: absolute;
    left: 55px;
}