* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url('https://wallpaperaccess.com/full/5045061.jpg');
    /* https://wallpapercave.com/wp/wp7516650.jpg */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background-color: rgba(255 255 255 0.1);
    box-shadow: 0 8px 32px 0 rgba(107, 107, 109, 0.37);
    backdrop-filter: blur(8.5px);
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.loginContainer>h2 {
    margin: 3rem 0 2rem 0;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
}

.inputContainer input {
    background-color: rgba(199, 199, 199, 0.1);
    box-shadow: 0 8px 32px 0 rgba(107, 107, 109, 0.37);
    border-radius: 2rem;
    width: 80%;
    height: 3rem;
    padding: 1rem;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}
.inputContainer input:focus{
    background-color: rgba(199, 199, 199, 0.22);
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
}
.inputContainer input::placeholder{
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
}