.navbar {
    /* background-color: rgb(245, 240, 240); */
    margin: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 50px;
    border-bottom: 1px solid rgb(209, 205, 205);
}

.navbar .left {
    display: flex;
    align-items: center;
    gap: 30px;
}


.left span {
    font-weight: bold;
    font-size: 20px;
    color: darkblue;
}

.left .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

.search input {
    border: none;
    width: 500px;
    outline: none;
}

.navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* background-color: red; */
}

.right .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.logout {
    cursor: pointer;
}

@media only screen and (max-width:1024px) {
    .left .search {
        display: none;
    }

}

@media only screen and (max-width:920px) {
    .navbar {
        margin: auto;
    }

    .search input {
        display: none;
    }

    .left .search {
        display: none;
        /* align-items: center; */
        /* font-weight: 600; */
        border: none;
    }

    .icon {
        width: 15px;
        height: 15px;
    }

    .right .icon {
        width: 15px;
        height: 15px;
    }
}

.navbarrContainer {
    max-width: 860px;
    margin: auto;
    width: 100%;
}

.navbarr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logoo {
    font-size: 1.4rem;
    font-weight: 500;
    color: red;
}

.nav-iconsss {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.nav-iconsss .bx {
    font-size: 1.4rem;
    color: black;
}

.nav-iconsss .bx:hover {
    background-color: rgba(253 89 73 1);
    transition: 0.3s all linear;

}

.nav-imgg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid rgba(214 36 158 1);
}

.camera-Nav {
    font-size: 1.4rem;
    color: black;
    display: none;
}
@media(max-width:875px){
    .navbarr{
        padding: 10px 0;
        width: 95%;
    }
}


@media(max-width:875px){
    .logo{
        font-size: 1.1rem;
    }
    .camera-Nav{
        display: initial;
    }
    .nav-iconsss{
        position: fixed;
        bottom: 0;left: 0;right: 0;background: black;
        padding: 8px 0;
        justify-content: space-around;
    }
    .nav-iconsss .bx{
        color: white;
    }
}